html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

main {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.grid-container {
  margin: 0;
  padding: 0;
  height: 100%;
  display: grid;
  grid-template-columns: 25vw 1fr;
  grid-auto-columns: minmax(minimum, maximum);
}

.nav-container {
  height: auto;
  text-align: center;
  background-color: #ec242a;
}

nav {
  display: flex;
  justify-content: center;
}

ul {
  width: 80%;
  margin-top: 24%;
}

li {
  background-color: white;
  margin-bottom: 15%;
  width: 100%;
  height: 10vh;
  border-radius: 10px;
}

a:hover {
  font-size: 1.6vw;
  font-weight: bold;
  color: #ec242a;
}

a {
  font-size: 1.5vw;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #171a1d;
  text-decoration: none;
  border: none;
  padding: 2%;
  line-height: 10vh;
  transition: 350ms;
}

.recommend-movie-container {
  display: flex;
  flex-direction: column;
}

h1 {
  color: #171a1d;
  font-size: 3vw;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  padding: 2% 0% 2% 3%;
  margin-bottom: 2%;
  background-color: #E4E4E4A8;
}

h2 {
  margin-bottom: 3%;
  font-size: 1.5vw;
  margin-left: 3%;
  color: #030303;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

#share-movie-form {
  display: flex;
  flex-direction: column;
}

fieldset {
  display: flex;
  flex-direction: column;
}

#genre-dropdown {
  font-size: 1.25vw;
  font-family: 'Roboto', sans-serif;
  width: 50%;
  height: 5vh;
  border-radius: 10px;
  margin-bottom: 5%;
  margin-left: 3%;
  background-color: #E4E4E4A8;
  color:  #757373;
  border: none;
  padding-left: 1%;
}

input {
  font-size: 1.25vw;
  font-family: 'Roboto', sans-serif;
  width: 50%;
  height: 5vh;
  border-radius: 10px;
  margin-bottom: 5%;
  margin-left: 3%;
  background-color: #E4E4E4A8;
  border: none;
}

button:hover {
  background-color: #ec242a;
  font-weight: bold;
  font-size: 1.3vw;
  color: #ffffff;
  cursor: pointer;
}

button {
  font-size: 1.25vw;
  font-family: 'Roboto', sans-serif;
  border-radius: 10px;
  color: #171a1d;
  background-color: #e4e4e4a8;
  padding: 1.5% 0%;
  width: 50%;
  border: none;
  margin-bottom: 5%;
  margin-left: 3%;
  transition: 350ms;
}







